body {
  margin: 0;
}

.page-content {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  /* background-image: -moz-linear-gradient( 136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
    background-image: -webkit-linear-gradient( 136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
    background-image: -ms-linear-gradient( 136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%); */
  background-image: -webkit-linear-gradient(136deg, rgb(199,144,252) 0%, rgb(0,7,13) 100%);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

.form-content {
  background: #fff;
  /* width: 851px; */
  border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 100px 0;
  position: relative;
  display: flex;
  display: -webkit-flex;
}

.form-content .form-detail {
  padding: 20px 40px 20px 40px;
  position: relative;
  width: 100%;
}

.form-content .form-detail .signup {
  background: #00c850;
  border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 160px;
  border: none;
  margin: 6px 0 50px 0px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.form-content .form-detail .signup:hover {
  background: #218d42;
}

.form-content .form-detail .last-row-input input {
  padding: 15.5px;
}

.introduction {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 28px;
}

#myform {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
